*{
    margin: 0;
    padding: 0;
}
div.drop-down-menu{
    margin: 8px 0;
    width: 100%;
    height: 64px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: var(--Number, 1px) solid var(--Accent-pink, #B26CAF);
    transition: 300ms;
    /* animation: ease-in; */
    position: relative;
}
.visible{
    z-index: 1;
}
div.drop-down-menu > div.button-container{
    transition: 300ms;
    animation: ease-in;
    /* transform: translateY(-450px); */
    display: none;
    z-index: -1;
}
div.drop-down-menu:hover{
    border: var(--Number, 1px) solid var(--Accent-pink, #B26CAF);
    
    height: auto;
    transition: 300ms;
}
div.drop-down-menu:hover >div.button-container{
    
    display: flex;
    flex-direction: column;
    transition: 300ms;
    animation: ease-in;
    transform: translateY(0);
    z-index: 0;
   
}
.drop-down-menu > .visible > img {
    transition: 300ms;
}
.drop-down-menu:hover > .visible > img {
    transform: rotate(180deg);
    transition: 300ms;
}

.drop-down-menu:hover{
    transition: 300ms;
}
.visible{
    width: 100%;
    height: 64px;
    display: flex;
    padding: 8px 12px 8px 24px ;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .img{
    transform: rotate(180deg);
} */