.navbutton{
    margin: 8px 0px;
    width:100%;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    background-color: #30324A;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-left: transparent;
}
.navbutton:hover{
    color: var(--Accent-pink, #B26CAF);
    transition: 300ms;
    animation: ease-out;
}
.navbutton:active{
    transition: 500ms;
    animation: ease-out;
    border-left: 2px solid #CA53BA;
    background: linear-gradient(90deg, rgba(202, 83, 186, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
}
.navbutton:focus{
    transition: 500ms;
    animation: ease-out;
    border-left: 2px solid #CA53BA;
    background: linear-gradient(90deg, rgba(202, 83, 186, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
}