.card-container{
    width: 828px;
    height: 56px;
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--Primary-pink, #CA53BA);
}
P > span {
    color: #30324A;
    margin: 0 4px;
}