*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
nav{
    padding-right: 2px;
    min-width: 255px;
    max-height: 100vh ;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    height: fit-content;
    /* padding-bottom: 24px; */
    background-color: #30324A;

}
nav::-webkit-scrollbar{
    display: none;
}
.scroll{
    margin-top: 180px;
    min-width: 255px;
    max-height: 100vh ;
    overflow-y: scroll;
    height: fit-content;
    padding-right: 2px;
    
}
.scroll::-webkit-scrollbar{
    display: none;
}