*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
nav{
    padding-right: 2px;
    width: 255px;
    height: 100lvh;
    background-color: #30324A;
}
         